<!DOCTYPE html>
<html>
<style>
* {
  box-sizing: border-box;
} 
body {
  margin: 0 15% 0;
 
}


h1 { margin-top: 25px;
  margin-bottom: 25px;
  
  }
div.relative {
  position: relative;
  margin-top : 30px;
}
  
input[type=text], select {
  
  padding: 8px 20px;
  display: inline-block;
  border: 1px solid #FE0707;
  border-radius: 4px;
  }
.button1 {
  background-color: #FAC3C3;
  border: 1px solid #FE0707;
  border-radius: 6px;
  color: red;
  padding: 8px 32px;
  text-align: center;
  display: inline-block;
  margin: 8px 10px;
  cursor: pointer;
}
.button1:hover {
  background-color: red;
  color: white;
}
.button2 {
  position: absolute;
  top: 0;
  right:0;
  background-color: white;
  border: none;
  color: red;
  padding: 8px 32px;
  text-decoration: underline;
  display: inline-block;
  margin: 8px 10px;
  cursor: pointer;
}
.blokovi {
  display: flex;
  flex-wrap: wrap;
}

.blokovi div {
  width: 45%;
  height: 50px;
  background-color: white;
  margin: 1%;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 4px;
   line-height: 50px;
}

</style>